
.table-view .column-header,
.tree-table-view .column-header {
    -fx-size: 24px;
}

.table-view .column-header .label,
.tree-table-view .column-header .label {
    -fx-wrap-text: false;
    -fx-padding: 0 6 0 6;
}
